.container {
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 2%;
  max-width: 40px;
  max-height: 40px;
  margin-right: 3%;
}

.icon {
  max-width: 25px;
  max-height: 25px;
  margin-right: 3%;
}

.menu {
  border: none;
  font-size: 1rem;
  color: #111111;
  margin-right: 1%;
  background-color: white;
}

.search {
  width: 60%;
  padding: 1%;
  height: 40px;
  border: none;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
