.box img {
  width: 220px;
  border-radius: 20px;
}

.box p {
  display: block;
  margin-top: 1%;
  margin-left: 6%;
  margin-bottom: 0;
  font-weight: bold;
}

.box span {
  margin-top: 0;
  display: block;
  margin-left: 7%;
  font-size: 0.9rem;
}

.box:hover{
    opacity: 0.5;
    cursor: pointer;
}